@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/rsuite/dist/styles/rsuite-default.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

$primary-color: #00379e;
$primary-color-hover: #2971d6;

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transparent-backdrop {
  opacity: 0 !important;
}

.coord-group {
  width: 305px;
  margin-bottom: 15px;

  input {
    font-weight: bolder;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  :first-child {
    margin-left: 10px !important;
  }
}

.cam-params {
  &-group {
    width: 100px !important;

    input {
      font-weight: bolder;
    }
  }

  &-label {
    text-transform: uppercase;
    font-size: smaller;
  }

  &-coordinates {
    width: 305px;
    margin-bottom: 15px;

    input {
      font-weight: bolder;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    :first-child {
      margin-left: 10px !important;
    }
  }
}

.clear-btn {
  cursor: pointer;
  color: $primary-color;
}

.side-btn {
  padding: 10px 8px 10px 8px;
  width: 20;
  transform: translate(-50px, 200px);
  position: absolute;
  background: white;
  color: grey;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
}
