@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/rsuite/dist/styles/rsuite-default.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

$primary-color: #00379e;
$primary-color-hover: #2971d6;

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cam-params {
  margin-top: 30px;

  &-group {
    width: 100px !important;

    input {
      font-weight: bolder;
    }
  }

  &-label {
    text-transform: uppercase;
    font-size: smaller;
  }

  &-coordinates {
    width: 305px;
    margin-bottom: 15px;

    input {
      font-weight: bolder;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    :first-child {
      margin-left: 10px !important;
    }
  }
}

.clear-btn {
  cursor: pointer;
  color: $primary-color;
}

.side-btn {
  padding: 10px 8px 10px 8px;
  width: 20;
  transform: translate(-50px, 200px);
  position: absolute;
  background: white;
  color: grey;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
    -1px -2px 2px rgba(0, 0, 0, 0.05);
}

@mixin toggled-circle {
  fill: red;
  stroke: #f5a890;
}

.camera {
  &-circle {
    fill: rgba(66, 147, 33, 100);
    stroke: unset;

    &:hover {
      @include toggled-circle;
    }
  }

  &-circle-toggled {
    @include toggled-circle;
  }

  &-polygon,
  &-polyline {
    cursor: unset;
  }

  &-polygon {
    fill: rgba(96, 125, 139, 0.2);
    stroke: unset;
  }

  &-polyline {
    stroke: rgba(96, 125, 139, 1);
    stroke-linecap: butt;
    stroke-width: 1;
  }
}
